.test

.vscode
.scannerwork
archive

build

package-lock.json
*.pem
sonar-project.properties
pnpm-lock.yaml
src/config.ts
src/CreateCommands.ts
src/CleanCommands.ts

node_modules
coverage
logs

bunfig.toml
bun.lockb

src/test.ts