.test

.vscode
.scannerwork
archive

package-lock.json
CreateCommands-old.js
*.pem
sonar-project.properties
pnpm-lock.yaml
src/config.ts

build
node_modules
coverage
dist/*
dist/dashboard/*
logs

!dist/res
!dist/dashboard
!dist/dashboard/views